#define CHORD(NAME, BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; 

// | T1 (0) |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9   |  10  |
// | T2 (11)|  12 |  13 |  14 |  15 |  16 |     |  17 |  18 |  19 |  20  |  21  |
// | T3 (22)|  23 |  24 |  25 |  26 |  27 |     |  28 |  29 |  30 |  31  |  32  |
// | T4 (33)|   34  |   35    |  36 |  37 |     |  38 |  39 |    40   |    41   |

// alpha

CHORD(C,      &kp C,     13 15,    18 20)
CHORD(U,      &kp U,     13 14,    19 20)
CHORD(Q,      &kp Q,     12 14 15, 18 19 21)
CHORD(L,      &kp L,     12 13,    20 21)
CHORD(Y,      &kp Y,     3 4,      7 8)
CHORD(F,      &kp F,     12 14,    19 21)
CHORD(P,      &kp P,     2 3,      8 9)
CHORD(Z,      &kp Z,     1 3 4,    7 8 10)
CHORD(B,      &kp B,     2 3 4,    7 8 9)
CHORD(H,      &kp H,     14 15,    18 19)
CHORD(D,      &kp D,     12 15,    18 21)
CHORD(G,      &kp G,     1 2,      9 10)
CHORD(X,      &kp X,     1 2 3,    8 9 10)
CHORD(K,      &kp K,     12 13 14, 19 20 21)
CHORD(V,      &kp V,     2 4,      7 9)
CHORD(J,      &kp J,     1 3,      8 10)
CHORD(M,      &kp M,     13 14 15, 18 19 20)
CHORD(W,      &kp W,     1 4,      7 10)

// num

CHORD(N0,      &kp N0,   23 25,     30 32)
CHORD(N3,      &kp N3,   25 26,     29 30)
CHORD(N5,      &kp N5,   24 26,     29 31)
CHORD(N6,      &kp N6,   24 25,     30 31)
CHORD(N7,      &kp N7,   24 25 26,  29 30 31)
CHORD(N9,      &kp N9,   23 26,     29 32)

// fn

CHORD(F1,      &kp F1,   34 26,     41 29)
CHORD(F2,      &kp F2,   34 25,     41 30)
CHORD(F3,      &kp F3,   34 25 26,  41 29 30)
CHORD(F4,      &kp F4,   34 24,     41 31)
CHORD(F5,      &kp F5,   34 24 26,  41 29 31)
CHORD(F6,      &kp F6,   34 24 25,  41 30 31)
CHORD(F7,      &kp F7,   34 24 25 26,  41 30 31 29)
CHORD(F8,      &kp F8,   34 20,     41 32)
CHORD(F9,      &kp F9,   34 23 26,  41 29 32)
CHORD(F10,     &kp F10,  34 23 25,  41 30 32)
CHORD(F11,     &kp F11,  34 23 25 26,  41 29 30 31)
CHORD(F12,     &kp F12,  34 23 24,  41 31 32)

// symbol

CHORD(LT,  &kp LT,       25 15, 18 30)
CHORD(GT,  &kp GT,       14 26, 29 19)
CHORD(LBKT,  &kp LBKT,   23 13, 20 32)
CHORD(RBKT,  &kp RBKT,   12 24, 31 21)
CHORD(LBRC,  &kp LBRC,   24 14, 19 31)
CHORD(RBRC,  &kp RBRC,   13 25, 30 20)
CHORD(BSLH,  &kp BSLH,   2 14,  9 19)
CHORD(PIPE,  &kp PIPE,   13 3,  8 20)
CHORD(MINUS,  &kp MINUS, 2 15,  18 9)
CHORD(UNDER,  &kp UNDER, 2 3 15, 18 8  9)
CHORD(EQUAL,  &kp EQUAL, 13 26, 29 20)
CHORD(PLUS,  &kp PLUS,   13 14 26, 29 19 20)
CHORD(COMMA,  &kp COMMA, 3 15,  18 8)
CHORD(DOT,  &kp DOT,     12 4,  7 21)
CHORD(SLASH,  &kp SLASH, 12 3,  8 21)
CHORD(QMARK,  &kp QMARK, 14 4,  19 7)
CHORD(APOS,  &kp APOS,   12 2,  9 21)
CHORD(DQT,  &kp DQT,     12 2 3, 8 9 21)
CHORD(GRAVE,  &kp GRAVE, 23 15, 18 32)
CHORD(TILDE,  &kp TILDE, 24 15, 18 31)
CHORD(SEMI,  &kp SEMI,   12 25, 21 30)
CHORD(COLON,  &kp COLON, 23 14, 19 32)

// mod/control

CHORD(LGUI,   &sk LGUI,  13 3 15,     18 8 20)


// bluetooth

CHORD(BT1,      &bt BT_SEL 0,   35 26,     40 29)
CHORD(BT2,      &bt BT_SEL 1,   35 25,     40 30)
CHORD(BT3,      &bt BT_SEL 2,   35 25 26,  40 29 30)
CHORD(BT4,      &bt BT_SEL 3,   35 24,     40 31)
CHORD(BTCLR,      &bt BT_CLR,   35 23 24 25 26,     40 29 30 31 32)

//layer

// nav?

